/* GRASS documentation site style sheet
 *
 * send improvements to GRASS Developers list
 * 
 *  (eg how to reach the same result on netscape, mozilla konqueror?)
 *
 * Fonts:
 *	http://www.w3.org/TR/REC-CSS2/fonts.html
 * Tables:
 *	http://www.w3.org/TR/REC-CSS2/tables.html
 */

body{
    background: white;
    color: black;
    font-family: arial,sans-serif;
    width: 80%;
}

hr.header {
    height: 3px;
    color: gray;
    background-color: gray;
    width: 100%;
}

h1{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: x-large;
}

h2{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: large;
}

h3{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: large;
}

h4{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: medium;
}

div.code{
    width: 97%;
    color : black;
    background-color: rgb(90%, 90%, 90%);
    padding-left: 1em;
    padding-right: 1em;
}

span.code {
    width: 97%;
    color : black;
    background-color: rgb(90%, 90%, 90%);
    padding-left: 1em;
    padding-right: 1em;
}

.leftmenu {
    padding-left: 10px;
}

td.box {
    border:  1px solid #c9c9c9;
    border-radius: 10px;
    margin: 0px 2px 2px 10px;
    padding: 4px 4px 4px 4px;
}

li.box {
    color: rgb(25%, 60%, 25%);
}

li.box span {
    color: black;
}

table.border {
    border-collapse:collapse;
}

table.border td {
    border: 1px solid rgb(25%, 60%, 25%);
}

td {
    padding: 5px;
}

div.toc{
    background-color: transparent;
    position: fixed;
    border: solid 1px rgb(25%, 60%, 25%);
    top: 5px;
    right: 5px;
    width: 17%;
    font-size: small;
    border-radius: 10px;
}

li.toc {
   margin-left: -15px;
   padding: 3px 3px; 3px; 3px;
   color: rgb(25%, 60%, 25%);
}

ul.toc {
   margin-top: 3px;
   margin-bottom: 3px;
}

a.toc {
    text-decoration: none;
}
